.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--gray-color-1);
  height: 40px;
  width: 40px;
  cursor: pointer;

}

.btn:hover{
  opacity: .7;
}


@keyframes shadow {
  0% {box-shadow: rgba(241, 27, 27, 0) 0px 0px 15px;}
  50% {box-shadow: rgba(241, 27, 27, 0.35) 0px 0px 15px;}
  100% {box-shadow: rgba(241, 27, 27, 0) 0px 0px 15px;}

}


.btn._active {
  border: 1px solid var(--red-color);
  box-shadow: rgba(241, 27, 27, 0) 0px 0px 15px;
  animation: ease 0.7s shadow
}